<div class="main">
  <button class="add-pet-btn">+</button>
  <div class="pets-container">
    <div class="box-container">
      <div class="box box1">
        <div class="text">
          <h2 class="pet-name">Rover</h2>
          <h2 class="owner">Owner: Wesley</h2>
        </div>
        <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
      </div>
    </div>
  </div>
</div>