<div class="main">
  <div class="report-container">
    <div class="box-container">
      <div class="box box1">
        <div class="text">
          <h2 class="topic-heading">60k.2</h2>
          <h2 class="topic">Article Views</h2>
        </div>
        <img
          src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(31).png"
          alt="Views"
        />
      </div>
    </div>
  </div>
</div>