<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Rover</h2>
    <h2 class="owner">Owner: Wesley</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>

{{! <div class="box box1">
  <div class="text">
    <h2 class="pet-name">Hamilton</h2>
    <h2 class="owner">Owner: Mercedes</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Perez</h2>
    <h2 class="owner">Owner: Red Bull</h2>
  </div>
  <img src="../public/images/pet2-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Max</h2>
    <h2 class="owner">Owner: Red Bull</h2>
  </div>
  <img src="../public/images/pet3-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Lando</h2>
    <h2 class="owner">Owner: McLaren</h2>
  </div>
  <img src="../public/images/pet4-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Charles</h2>
    <h2 class="owner">Owner: Ferrari</h2>
  </div>
  <img src="../public/images/pet5-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Russel</h2>
    <h2 class="owner">Owner: Mercedes</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Sainz</h2>
    <h2 class="owner">Owner: Ferrari</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Alonso</h2>
    <h2 class="owner">Owner: Aston Martin</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Gasly</h2>
    <h2 class="owner">Owner: Alpine</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Albon</h2>
    <h2 class="owner">Owner: Williams</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Bottas</h2>
    <h2 class="owner">Owner: Alfa Romeo</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div>
<div class="box box1">
  <div class="text">
    <h2 class="pet-name">Tsunoda</h2>
    <h2 class="owner">Owner: Alpha Tauri</h2>
  </div>
  <img src="../public/images/pet1-profile-pic.jpg" alt="Pet" />
</div> }}