<div class="main">
  <button id="add-pet-button" class="add-pet-btn">+</button>
  <div class="pets-container">
    <div class="box-container">
     {{>pet-box}} 
    </div>
  </div>
</div>
<script src="../public/js/redirects.js"></script>