<div class="hero">
  <div class="hero-content">
    <img
      class="hero-right-image"
      src="../public/images/1698273365307--1698208324748--pet3-profile-pic.jpg"
      alt="Left Image"
    />
    <div class="first-hero-section">
      <h1 class="hero-section-header">Welcome to Critter Sitter</h1>
      <p class="hero-section-text">
        Your All-in-One Solution for Pet Care Management. Easily organize and
        access your clients' pets' information.
      </p>
    </div>
  </div>
  <div class="hero-content">
    <img
      class="hero-left-image"
      src="../public/images/1698275877605--1698208098098--puppy-2785074_1920.jpg"
      alt="Right Image"
    />
    <div class="second-hero-section">
      <h1 class="hero-section-header">Ensure Your Pets Are Happy & Healthy</h1>
      <p class="hero-section-text">
        With Critter Sitter, you can view care levels, allergies, and special
        instructions to provide top-notch care for every pet.
      </p>
    </div>
  </div>
</div>