<div class="hero">
  <div class="hero-content">
    <img
      class="hero-right-image"
      src="../public/images/1698273365307--1698208324748--pet3-profile-pic.jpg"
      alt="Left Image"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida
      felis a leo efficitur, vel fermentum arcu aliquam.
    </p>
  </div>
  <div class="hero-content">
    <img
      class="hero-left-image"
      src="../public/images/1698275877605--1698208098098--puppy-2785074_1920.jpg"
      alt="Right Image"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida
      felis a leo efficitur, vel fermentum arcu aliquam.
    </p>
  </div>
</div>