<section>
  <h4>Login</h4>
  <form>
    <h1>Sorry, it's a test</h1>
    <div>
      <input type="username" id="username-login" />
      <label class="form-label">Username</label>
    </div>
    <div>
      <input type="password" id="password-login" />
      <label class="form-label">Password</label>
      <button class="login-btn">LOGIN</button>
    </div>
  </form>
</section>

<script src="../public/js/login.js"></script>