<section class="align-login">
  <h4 class="login-now">Login</h4>
  <form class="form login-form">
    <div class="input-container">
      <label for="username-login">Username:</label>
      <input class="form-input" type="text" id="username-login" />
    </div>
    <div class="input-container">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="input-container">
      <button class="login-btn" type="submit">Login</button>
    </div>
  </form>
</section>

<script src="/js/login.js"></script>