<div class="main">
  <button class="go-back-btn" onclick="goBack()">&#x2B9C;</button>
  <div class="pets-container">
    <div class="box-container">
      <div class="pet-form-wrapper">
        <div class="pet-form-container">
          <form
            id="new-pet-form"
            class="pet-form"
            action="/new-pet"
            method="post"
            enctype="multipart/form-data"
          >
            <div id="top-left-container">
              <label for="name">Name: </label>
              <input type="text" id="name" name="name" />
              <label for="owner">Owner: </label>
              <input type="text" id="owner" name="owner" />
              <label for="address">Address: </label>
              <input type="text" id="address" name="address" />
              <div class="radio-buttons-container">
                <div class="radio-button-label">
                  <label for="care-level">Care Level: </label>
                </div>
                <label class="radio-button">
                  <input type="radio" name="care-level" value="very low" />
                  Very Low
                </label>
                <label class="radio-button">
                  <input type="radio" name="care-level" value="low" />
                  Low
                </label>
                <label class="radio-button">
                  <input type="radio" name="care-level" value="medium" />
                  Medium
                </label>
                <label class="radio-button">
                  <input type="radio" name="care-level" value="high" />
                  High
                </label>
                <label class="radio-button">
                  <input type="radio" name="care-level" value="very high" />
                  Very High
                </label>
              </div>
            </div>
            <div id="bottom-left-container">
              <div class="description-box">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  name="description"
                  rows="15"
                  style="resize: none"
                ></textarea>
              </div>
            </div>
            <div id="top-right-container">
              <div id="upload-button">
                <br />
                <label for="picture">Pet Picture:</label>
                <input type="file" name="image" id="image" />
                <br />
              </div>
            </div>
            <div id="bottom-right-container">
              <div id="pet-save-cancel-buttons">
                <button type="submit"  class="pet-save-btn">Save Pet</button>
                <button 
                  class="pet-cancel-btn"
                  onclick="goBack()"
                >Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/redirects.js"></script>
<script src="/js/create-pet.js"></script>