<section>
  <h4>Sign Up Today!</h4>
  <form class="form signup-form">
    <div>
      <input type="username" id="username-sign-up" />
      <label class="form-label">Username</label>
    </div>
    <div>
      <input type="email" id="email-sign-up" />
      <label class="form-label">Email Address</label>
    </div>
    <div>
      <input type="password" id="password-sign-up" />
      <label class="form-label">Password</label>
      <button class="sign-up-btn" type="submit">SIGN UP</button>
    </div>
  </form>
</section>
<script src="/js/sign-up.js"></script>