:root {
  --header-color: #31708e;
  --whiteish-color: #f7f9fb;
  --constrast-color: #687864;
  --medium-blue: #5085a5;
  --light-blue: #8fc1e3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--whiteish-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
  /* background-color: var(--header-color); */
  /* Linear Gradient Background */
  background: linear-gradient(
    to bottom,
    var(--header-color),
    var(--medium-blue),
    var(--light-blue)
  );

  padding: 10px 20px;
}

.header-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  margin-right: 80px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 40px;
}

nav li img {
  margin-right: 500px;
}

nav a {
  text-decoration: none;
  color: var(--whiteish-color);
}

#get-started-btn {
  background-color: var(--constrast-color);
  color: var(--whiteish-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  flex: 1; /* Allow the main content to expand and push the footer down */
}

footer {
  /* background-color: var(--header-color); */
  /*   background: linear-gradient(
    to bottom,
    var(--header-color),
    var(--medium-blue),
    var(--light-blue)
  ); */
  background: linear-gradient(
    to bottom,
    var(--header-color),
    var(--medium-blue),
    var(--light-blue)
  );
  padding: 5px 600px; /* Adjust the padding as needed */
  text-align: center;
  color: var(--whiteish-color);
  font-weight: bold;
  font-size: 10px;
}

/* footer {
  background-color: var(--header-color);
  padding: 20px 0; 
  text-align: center;
  color: var(--whiteish-color);
  font-weight: bold;
  font-size: 16px;
} */

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
  color: var(--whiteish-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-column h3 {
  font-size: 20px;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  background: #333;
  color: #fff;
  width: 250px;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

/* Content area styles */
.content {
  margin-left: 250px; /* Ensure content area doesn't overlap sidebar */
  padding: 20px;
  width: calc(100% - 250px); /* Take up remaining width */
}

.content .header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Widgets styles */
.widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.widget {
  background: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  min-width: 300px;
}

.widget h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.widget p {
  font-size: 16px;
}
